footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(rgb(189, 189, 189), 1);
}

.footer__logo__wrap {
  width: 80px;
  background-color: rgba(whitesmoke, 0.4);
  border-radius: 25px;
}
