.section-one {
  text-align: center;
  padding-top: 50px;
  .section-one__paragraphs {
    display: grid;
    grid-template-columns: 1fr;
  }
  h2 {
    font-family: $basefont;
    font-size: 2.25rem;
  }
  h3 {
    font-size: 0.875rem;
  }
}
