.section-two__logo {
  width: 300px;
  margin: 0 auto;
}

.section-two__images {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(768px) {
    flex-direction: row;
  }
  .pic {
    width: 70%;
    margin: {
      left: auto;
      right: auto;
      top: 1rem;
    }
    @include mq(768px) {
      margin-top: 0;
      & + .pic {
        margin-top: 1rem;
      }
    }
  }
}

.section-two__images__wrap {
  @include mq(768px) {
    width: calc(100% / 3);
  }
}
