.section-one {
  text-align: center;
  padding-top: 50px;
  .section-one__intro {
    width: 65%;
    margin: 0 auto;
    h3 {
      margin-top: 1rem;
    }
  }
  .section-one__paragraphs {
    margin-top: 2rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 70%;
    p {
      padding: 0 0.8rem;
    }

    > * + * {
      margin-top: 2.5rem;
      @include mq(768px) {
        margin-top: 0;
      }
    }
    @include mq(768px) {
      width: 80%;
      margin: 2rem auto;
      max-width: 900px;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      text-align: left;
    }
  }
}
