.section-two {
  padding-bottom: 100px;
  clip-path: polygon(50% 100%, 100% 93%, 101% 0, 0 0, 0 93%);
  background: linear-gradient(white, transparent),
    url("../images/section2-backdrop.jpg");
  background-position: center;
  background-size: cover;
  h2,
  h3 {
    color: white;
  }
  button {
    margin-top: 1rem;
    color: white;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    &:hover,
    &:active {
      background: rgba(white, 0.5);
      color: black;
    }
  }
}

.section-two__logo {
  width: 300px;
  margin: 0 auto;
}

.section-two__images {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(768px) {
    flex-direction: row;
  }
  .pic {
    width: 70%;
    margin: {
      left: auto;
      right: auto;
      top: 1rem;
    }
    @include mq(768px) {
      margin-top: 0;
      & + .pic {
        margin-top: 1rem;
      }
    }
  }
}

.section-two__images__wrap {
  @include mq(768px) {
    width: calc(100% / 3);
  }
}

.section-two__cta {
  width: 60%;
  margin: 100px auto 0;
  text-align: center;
}
